max.startAfterNSecondsofsleep = 6000
max.wakeupAfterNSecondsofsleep = 4000
max.takeScreenShot  = false
max.savePageSource  = false
max.saveCurrentEventPoint = false
[{
	"prob": 1,
	"activity": "com.emanuelef.remote_capture.activities.MainActivity",
	"actions": [{
		"xpath": "//*[@resource-id='com.emanuelef.remote_capture:id/app_filter_switch']",
		"action": "CLICK",
		"throttle": 1000
	}]
},
{
	"prob": 1,
	"activity": "com.emanuelef.remote_capture.activities.MainActivity",
	"actions": [{
		"xpath": "//*[@class='android.widget.EditText' and@text='搜索应用']",
		"action": "CLICK",
		"throttle": 1000
	}]
},
{
	"prob": 1,
	"activity": "com.emanuelef.remote_capture.activities.MainActivity",
	"actions": [{
		"xpath": "//*[@class='android.widget.EditText' and@text='搜索应用']",
		"action": "INPUTTEXT",
		"text": "com.example.b12",
		"throttle": 1000
	}]
},
{
	"prob": 1,
	"activity": "com.emanuelef.remote_capture.activities.MainActivity",
	"actions": [{
		"xpath": "//*[@class='android.widget.TextView' and@text='com.example.b12']",
		"action": "CLICK",
		"throttle": 1000
	}]
},
{
	"prob": 1,
	"activity": "com.emanuelef.remote_capture.activities.MainActivity",
	"actions": [{
		"xpath": "//*[@resource-id='com.emanuelef.remote_capture:id/dump_mode_spinner']",
		"action": "CLICK",
		"throttle": 1000
	}]
},
{
	"prob": 1,
	"activity": "com.emanuelef.remote_capture.activities.MainActivity",
	"actions": [{
		"xpath": "//*[@class='android.widget.TextView' and@text='在设备存储中创建一个PCAP文件']",
		"action": "CLICK",
		"throttle": 1000
	}]
},
{
	"prob": 1,
	"activity": "com.emanuelef.remote_capture.activities.MainActivity",
	"actions": [{
		"xpath": "//*[@resource-id='com.emanuelef.remote_capture:id/action_start']",
		"action": "CLICK",
		"throttle": 1000
	}]
},
{
	"prob": 1,
	"activity": "com.emanuelef.remote_capture.activities.MainActivity",
	"actions": [{
		"xpath": "//*[resource-id='android:id/button1']",
		"action": "CLICK",
		"throttle": 1000
	}]
}]

